<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo ReactJS</title>
    <script crossorigin src="libs/react.development.js"></script>
    <script crossorigin src="libs/react-dom.development.js"></script>
    <script crossorigin src="libs/browser.min.js"></script>
</head>
<style>
    .mauvang {
        background-color: yellow;
    }

    .mauxanh {
        background-color: blue;
    }
</style>

<body>
    <div id="root"></div>
    <script src="xuly.js" type="text/babel"></script>
</body>

</html>