<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo ReactJS</title>
    <script src="libs/react.development.js"></script>
    <script src="libs/react-dom.development.js"></script>
    <script src="libs/browser.min.js"></script>
    <script src="libs/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/layout.css">
</head>
<style>
    .mauvang {
        background-color: yellow;
    }

    .mauxanh {
        background-color: blue;
    }

    .warning {
        padding: 10px;
        width: 100px;
        background-color: wheat;
    }
</style>

<body>
    <div id="root"></div>
    <script src="LiftingStateUp/xuly6.js" type="text/babel"></script>
</body>

</html>